.App {
	text-align: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
}


.outerBorder {
	display: flex;
	margin-top: 5%;
	flex-direction: column;
	align-items: center;
	background-color: wheat;
	border: 6px double rgb(65, 189, 189);
}

.question {
	margin-top: 3%;
}

.option {
	margin: 1em;
	border: 3px solid;
	width: 250px;
	border-radius: 10px;
	font-weight: bold;
	font-size: x-large;
}

.next {
	position: relative;
	top: 50px;
}

.selectedOption {
	margin: 1em;
	border: 3px solid;
	width: 250px;
	border-radius: 10px;
	font-weight: bold;
	font-size: x-large;
	background-color: rgb(128, 204, 230);
}

.frontScreen {
	display: flex;
	background-image: url(https://ak.picdn.net/shutterstock/videos/1020525820/thumb/1.jpg);
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
}

.starter {
	margin-top: 17%;
	margin-left: 33%;
	font-size: 6em;
	color: rgb(224, 11, 175);
	text-shadow: 0 0 10px #000101, 0 0 10px #000505, 0 0 10px #000101;
	font-family: 'Gill Sans';
}

.quiz {
	position: relative;
	top: 48%;
	right: 26%;
	width: 20%;
	height: 13%;
	font-family: 'Gill Sans';
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 6em;
	-webkit-text-stroke-width: 2px;
	color: rgb(37, 170, 163);
	text-shadow: 0 0 10px #d40ccd, 0 0 10px #d40ccd;
	border: 6px solid rgb(50, 45, 43);
	border-radius: 20px;
}

.action {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px 40px;
	background-image: url(https://media.istockphoto.com/id/1023387542/photo/light-bulb-with-hanging-lights-background.jpg?s=170667a&w=0&k=20&c=ie3cSGecgmT6GjBmCGyszXc1flCZLODpYvsAOydWgfc=);
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.actionLabel {
	margin-left: 5%;
	font-size: 5em;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 10px #0fc3eb, 0 0 10px #0fc3eb;
	font-family: 'Gill Sans';
}

.userButton {
	position: sticky;
	bottom: 0;
	padding: 10px;
	width: max-content;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 3em;
	color: black;
	background: linear-gradient(90deg, #0162c8, #55e7fc);
	border: 2px solid rgb(18, 2, 2);
	border-radius: 40px;
}

.ownerButton {
	position: sticky;
	bottom: 0;
	padding: 10px;
	width: max-content;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 3em;
	color: black;
	background: linear-gradient(90deg, #0162c8, #55e7fc);
	border: 2px solid rgb(2, 10, 18);
	border-radius: 40px;
}

.banner {
	border: 2px solid black;
}


.header {
	position: sticky;
	top: 0;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	z-index: 10;
}

.icon {
	position: relative;
	bottom: 40%;
}

.textBox {
	margin-left: 5%;
	border: 2px solid black;
	width: 15%;
	height: 55px;
	border-radius: 10px;
}

.input {
	width: 80%;
}

.searchBar {
	position: relative;
	bottom: 80%;
	left: 40%;
}

.tabs {
	margin-left: 10%
}

.menuBar {
	height: 2%;
	border: 3px solid black;
	border-radius: 15%;
	background-color: wheat
}

.categories {
	margin-top: 7%;
	border: 1px solid rgb(37, 37, 78);
	height: 280px;
	width: 18%;
	margin-left: 13%;
	border-radius: 5%;
	background-color: rgba(229, 138, 138, 0.801);
}

.play {
	position: relative;
	top: -45%;
}

.categoryImage {
	position: relative;
	border-radius: 80%;
}

.categoryName {
	position: relative;
	top: -110%;
	font-size: xx-large;
	text-shadow: 2px 2px #FF0000;
	font-weight: bold;
}

.categoryLogo {
	position: relative;
	top: -122%;
	border-radius: 50%;
}

.label {
	position: relative;
	top: -92%;
	font-weight: bold;
	border: 2px solid #ffffff;
	border-radius: 0 0 9px 9px;
	padding: 3px 12px;
	text-align: center;
	display: inline-block;
	box-shadow: 0 5px 2px #0000004d;
	width: 90%;
	background: rgb(41, 161, 216);
}


.congratulationScreen {
	background-image: url(https://th.bing.com/th/id/R.42e33ad2f37d42423603e07e738780ed?rik=JRvoGzoIvzmGnw&riu=http%3a%2f%2fallpicts.in%2fwp-content%2fuploads%2f2017%2f02%2fFree-Animated-Congratulation-Images.jpg&ehk=ctw2dxWgw4HIgeCk8bEIYiXCMZzJ88UnYxHz777MTqU%3d&risl=&pid=ImgRaw&r=0);
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
}
